.wrapper {
    background-color: rgb(204, 204, 255);
    border-radius: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.button {
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    width: 15rem;
    height: 4rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(139, 139, 255);
    transition: all .1s ease-in-out;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.button:hover {
    cursor: pointer;
    background: rgb(85, 85, 85);
    color: white;
}

.button:active {
    background-color: lightblue;
}

@media (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        width: 90%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

    .form {
        padding: 0rem;
        // width: 95%;
    }
}