.wrapper {
    position: fixed;
    padding: 2rem 5rem;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    background: linear-gradient(white 80%, rgb(235, 235, 235));
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 15%;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 12rem;
    text-align: center;
    transition: border-bottom .2s ease-in-out;
    color: inherit;
}

.active {
    font-weight: 400;
    border-bottom: 3px solid rgb(121, 119, 119);
    background: linear-gradient(white, rgba(211, 210, 210, 0.301));
}